body {
    background-color: #ebebeb!important
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div#login-page-box {
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.login-title {
    color: white;
    font-size: 3em;
    text-align: center;
    text-shadow: 3px 6px 7px black;
    width: 100%;
}

div#login-title {
    color: white;
    font-size: 3em;
    text-shadow: 3px 6px 7px black;
}

img#rex-logo {
    width: 100%;
}

img.avatar-home {
    width: 100%;
    margin: 10px;
    border-radius: 20px;
}

h1.name {
    color: #525252;
    text-align: left;
    padding-left: 20px;
}